*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    outline-style: none;
}

.box_input{
    width: 300px;
    height: 200px;
    margin: 100px auto;
    padding: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #b6b6b6;
    border-radius: 15px;
}

.box_input input{
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #e7e7e7;
}

.box_input button{
    border: none;
    background-color: rgb(0, 209, 209);
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.box_chat{
    background-color: rgb(238, 238, 238);
    width: 400px;
    height: 600px;
    margin: 50px auto;
    display: grid;
    grid-template-rows: 60px 1fr 60px;

}

.top{
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
    width: 100%;
    height: 60px;
    background-color: rgb(0, 209, 209);
}

.input_box{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(0, 209, 209);
    padding: 10px;
}

.input_box input{
    border: none;
    height: 100%;
    width: 85%;
    padding-left: 10px;
}

.box_messages{
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;

}

.input_box button{
    margin-left: 5px;
    height: 100%;
    width: 15%;
    border: none;
    background-color: #00a3cc;
    color: white;
    border-radius: 0 15px 15px 0;
}

.msg_me{
    background-color: aqua;
    width: max-content;
    max-width: 70%;
    padding: 10px;
    border-radius: 15px 0 15px 15px;

}

.msg_user{
    background-color: rgb(196, 196, 196);
    width: max-content;
    max-width: 70%;
    padding: 10px;
    border-radius: 0 15px 15px 15px;

}






.go_back button{
    align-items: left;
    border: none;
    background-color: rgb(0, 209, 209);
    width: 10%;
    height: 25px;
    border-radius: 5px;
}




.top_name{
    margin: 100px auto;
    display: flex;
    align-items: center;
    padding-left: 650px;
    color: rgb(0, 209, 209);
    width: 100%;
    height: 100px;
}







.createroom{
    width: 300px;
    height: 650px;
    margin: 25px auto;
    padding: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #b6b6b6;
    border-radius: 15px;
}

.createroom input{
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: #e7e7e7;
}

.createroom button{
    border: none;
    background-color: rgb(0, 209, 209);
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.success{
    flex-direction: column;
    text-align: center;
    border: none;
    background-color: rgb(0, 209, 129);
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
button[type="submit"]:hover{
    background-color: aqua;
}
#status{
    width:90%
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto
    border-radius: 8px;
}
#status.success{
    background-color: rgb(142, 255, 142);
    color:azure;
    animation: status 4s ease delay forwards;
}
#status.error{
    background-color: rgb(255, 92, 92);
    color:azure;
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 1;
        pointer-events: all;
    }
}